<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">


    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script src="../semantic/dist/semantic.min.js"></script>

    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
    #username{
      margin: auto;
      font-size: x-large;
      font-style: italic;
      font-family: monospace;
    }
    </style>


</head>
<body>

<div class="ui top attached menu">
    <a class="item" id="menu">
        <i class="sidebar icon"></i>
        Menu
    </a>
    <p id="username">serenity.ai</p>
</div>

<div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large red">
        <i class="arrow left icon"></i>
    </a>
    <ul>
        <li><a class="btn-floating btn-large green" href="/map"><i class="legal icon"></i></a></li>
        <li><a class="btn-floating btn-large blue" onclick="return openModal()"><i class="plus icon"></i></a></li>
    </ul>
</div>

<div class="ui modal">
      <i class="close icon"></i>

      <div class="header">
        Please Enter the Following Information
      </div>

      <div class="image content">

        <div class="description">
          <form class="ui form">

              <div class="field">
                <label>Your Name</label>
                <textarea rows="2"></textarea>
              </div>

              <div class="field">
                <label>Description</label>
                <textarea></textarea>
              </div>
          </form>

        <div class="inline fields">
    <label for="fruit">Select the battle category:</label>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="fruit" checked="" tabindex="0" class="hidden">
        <label>Music</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="fruit" tabindex="0" class="hidden">
        <label>Dance</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="fruit" tabindex="0" class="hidden">
        <label>Sports</label>
      </div>
    </div>

  </div>

        </div>
      </div>

      <div class="actions">
        <div class="ui red deny button">
          Cancel
        </div>
        <div class="ui positive button">
          Confirm
        </div>
      </div>
    </div>



<div class="ui bottom attached segment pushable">
    <div class="ui inverted labeled icon left inline vertical sidebar menu">
        <a class="item">
            <i class="home icon"></i>
            Home
        </a>
        <a class="item">
            <i class="setting icon"></i>
            Setting
        </a>
        <button class="item">
            <i class="Activity"></i>
            <a href="/activity">Activity</a>
        </button>
        <button class="item" id="btnLogout">
            <i class="sign out icon"></i>
            Log Out
        </button>
    </div>





<iframe src='https://webchat.botframework.com/embed/ImagineHack_Serenity?s=bMzf9shH614.cwA.iS4.Ashcc6heWxqaYWffPiXkDTrzW3Pr7ueVH0y95ITc9-Q' width="600" height="600"></iframe>







</div>

<script src="../js/logout.js"></script>

<script>
    $('.ui.radio.checkbox')
    .checkbox()
    ;

    $('.ui.sidebar')
    .sidebar({
        context: $('.bottom.segment')
    })
    .sidebar('attach events', ' .menu .item')
    ;

    function openModal() {
        $('.ui.modal').modal('show');
    }
</script>

</body>
</html>
